##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances
port="27102"
queryport="27131"
servername="[PRS] EU/PL Competitive Server 12 prsclan.com.pl"
serverpassword=""
defaultmap="Oilfield"
defaultscenario="Scenario_Refinery_Firefight_West"
maxplayers="10"
# Discord Alerts | https://github.com/GameServerManagers/LinuxGSM/wiki/Discord
discordalert="on"
discordwebhook="https://discordapp.com/api/webhooks/514562533298798612/p4zg1XN68QgyvmFW770DSGVWJdDNrhs4XwbNlafQPVhym5KFE5EgYbqOF3Xpu5WFgf-x"
